In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt

data = pd.read_csv('data.cvc')
data = data.rename(columns={'fnlwgt': 'ID',})

In [4]:
data

,age,workclass,ID,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [352]:
data.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [358]:
mean_age_all = data[(data.sex=='Male')].mean()
print(mean_age_all['age'])

39.43354749885268

In [402]:
prop_edu_all = data['education'].value_counts(normalize=True)
print(prop_edu_all['Bachelors'])

0.16446055096587942

In [408]:
pro_edu_ritch = data[(data.education == "Bachelors") | (data.education == "Masters") | (data.education == "Doctorate") & (data.salary == "<=50K")].count()/data[(data.education == "Bachelors") | (data.education == "Masters") | (data.education == "Doctorate")].count()
print(pro_edu_ritch[0])

0.9591509811774129

In [450]:
pro_no_edu_ritch = data[(data.education != "Masters") & (data.education != "Bachelors") & (data.education != "Doctorate") & (data.salary == "<=50K")].count()/data[(data.education != "Masters") & (data.education != "Bachelors") & (data.education != "Doctorate")].count()
print(pro_no_edu_ritch[0])

0.826286398085361

In [457]:
data['hours-per-week'].min()

1

In [579]:
data.loc[(data['hours-per-week'] == 1) & (data.salary == '>50K'), 'hours-per-week'].count()/data.loc[data['hours-per-week']==data['hours-per-week'].min(),'hours-per-week' ].count()

0.1

In [815]:
b = data.loc[:,['native-country','salary']]
print(b)

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4               Cuba  <=50K
...              ...    ...
32556  United-States  <=50K
32557  United-States   >50K
32558  United-States  <=50K
32559  United-States  <=50K
32560  United-States   >50K

[32561 rows x 2 columns]

In [1072]:
data.groupby(['native-country']).salary.value_counts().shape

(82,)

In [ ]:
value_counts(normalize=True)

In [997]:
data.groupby(['native-country']).salary.value_counts(normalize=True).max(level='salary')

salary
<=50K    1.000000
>50K     0.418605
Name: salary, dtype: float64

In [2]:
data.groupby(['native-country'])['salary'].value_counts(normalize=True)

NameError: name 'data' is not defined

In [112]:
ab=data.groupby(['native-country']).salary.value_counts(normalize=True).to_frame('pr')
ab

                             pr
native-country salary
?              <=50K   0.749571
               >50K    0.250429
Cambodia       <=50K   0.631579
               >50K    0.368421
Canada         <=50K   0.677686
...                         ...
United-States  >50K    0.245835
Vietnam        <=50K   0.925373
               >50K    0.074627
Yugoslavia     <=50K   0.625000
               >50K    0.375000

[82 rows x 1 columns]

In [6]:
data.iloc[30]

age                            23
workclass               Local-gov
ID                         190709
education              Assoc-acdm
education-num                  12
marital-status      Never-married
occupation        Protective-serv
relationship        Not-in-family
race                        White
sex                          Male
capital-gain                    0
capital-loss                    0
hours-per-week                 52
native-country      United-States
salary                      <=50K
Name: 30, dtype: object

In [866]:
(data.groupby(['native-country']).salary.value_counts()/len(data)).idxmax()

('United-States', '<=50K')

In [783]:
(data.groupby('native-country').salary.value_counts()/len(data)).max()

0.6756242130155707

In [867]:
data.loc[0]

AttributeError: module 'pandas' has no attribute 'data'

In [771]:
len(data)

32561